@charset 'UTF-8';

* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(3, 3, 3, 0.881);
    color: white;
}

h1 {
    font-size: 2em;
    margin-top: 50px;
    text-align: center;
}

p {
    text-align: center;
    padding: 20px;
}

p > a {
    text-decoration: none;
    color: white;
}

div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.grelha {
    width: 420px;
    padding: 20px;
    margin: auto;
}

a {
    display: grid;
    justify-content: center;
    padding: 2px;
}

video {
    padding-top: 15px;
    width: 643px;
}
footer {
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-align: center;
}